h1 {
    font-size: 20px;
    font-family: sans-serif;
}

h2 {
    font: 12px sans-serif;
}

header,
section,
footer,
aside,
nav,
article {
    display: block;

}

body {
    text-align: center;
    background-color: lightpink;
}

.cabecera {
    background: white;
    border: 1px solid purple;
    padding: 20px;
}

/*combinaci칩n de estilos. Anidaci칩n de estilos para hijos*/
.cabecera h1 {
    text-align: left;
}

.menu li {
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    padding: 7px;
    margin: 5px;
}

.menu {
    background: blanchedalmond;
    border: 1px solid black;
    text-align: left;
}

.formulario {
    width: 900px;
    border: double black;
    margin: 15px auto;
    background: thistle;
    /*auto opcion a text-aling, siempre va a centrar, autom치tico*/
}

.seccion {
    margin: 20px;
    width: 600px;
    float: left; /*estilo de elemento flotante*/
}

.referencias {
    width: 250px;
    border: 1px solid black;
    /*margin-top: 200px;*/
    margin: 100px 1px;
    float: left;
    /*alinear conjunto de elementos. 
    Ponerse subsiguiente a los elementos dentro del componente principal*/
}

article {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 25px;
    background: rgba(228, 162, 236, 0.842);
}

blockquote {
    border: 1px solid black;
    width: 200px;
    margin: 10px auto 40px auto;
    /*centrado autom치tico*/
}

article footer {
    text-align: right;
}

.pie {
    clear: both;
}