/*Universal*/
/**{
    background-color: black;
}*/

/*Elemento*/
h1,
h6 {
    color: blue;
    background-color: green;
}

/*
p{
    color: white
}*/

/*identificador*/
#id_titulo {
    color: yellow;
    background-color: brown;
}

/*clase*/
.clase_titulos {
    color: coral;
    background-color: black;
}

/*atributo*/
img[src*="jpg"] {
    width: 50px;
    height: 50px;
}

/*pseudo-clase o evento*/
label:hover {
    color: #FC427B;
}

label:active {
    color: #82589F;
}